<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>
    @{
        ViewBag.Title = "Internal_Server_Error";
    }

    <section class="content">
        <div class="error-page">
            <h2 class="headline text-danger">OOPS!!!</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i>Something's Not Right</h3>

                <p>
                    Sorry For The Inconvinience.Our Best Minds Are Working On It.
                   Lets's <a href="http://localhost:53814/Dashboard/Index">return to dashboard</a>
                </p>

             
                        </div>
                    </div>
                    <!-- /.input-group -->
                
        <!-- /.error-page -->
    </section>

</body>

</html>

