@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<div class="d-flex justify-content-end download-format-text align-items-center">
    <a href="/DataImport/DownloadFormat"><i class="fas fa-question mr-2"></i>Click to download format</a>
</div>
<div class="d-flex align-items-center justify-content-center" style="height:400px">
    @using (Html.BeginForm("Index", "DataImport", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "uploader" }))
    {

        @Html.AntiForgeryToken()
        <input type="file" class="custom-file-input" name="upload" id="dataFile" accept=".xlsx">

        <label for="dataFile" id="file-drag">
            <div id="start" class="d-flex flex-column">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div id="file-upload-btn">Click here to select a file</div>
            </div>
        </label>
        @Html.ValidationSummary()
        <input type="submit" value="Upload" class="btn btn-secondary w-100 m-0" />
    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#dataFile").click(function () {
            $('.validation-summary-errors').text('');
        });
    });
</script>