
@{
    ViewBag.Title = "Email";
}

<h2>Email</h2>

<form method="post" action="Form">
    <span>Receiver Mail:</span>
    <input type="text" name="ReceiverMail" />
    <span>Subject</span>
    <input type="text" name="Subject" />
    <span>Message</span>
    <input type="text" name="Message" />
    <button type="submit">Send Mail</button>

</form>