
@{
    ViewBag.Title = "NotAuthorized";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="response">
    <div>
        <h2>Sorry You Are Not Authorized To Access The Requested Page</h2>
    </div>
    <div>
        <h4>@Html.ActionLink("Click Here To Go Back","Index","MainDashboard")</h4>
    </div>
</div>
