
@{
    ViewBag.Title = "Response Success";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="response">
    <div>
        <h2>You have successfully given the feedback</h2>
    </div>
    <div>
        <h4>Thank you for your feedback</h4>
    </div>
</div>

