
@{
    ViewBag.Title = "ResponseFailed";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="response">
    <div>
        <h2>Error in giving feedback,Something went wrong</h2>
    </div>
    <div>
        <h4>Please try again after sometime</h4>
    </div>
</div>

